####################
# Package-Specific #
####################

demo-package/wasm/

####################
#       Rust       #
####################

Cargo.lock
target
wasm-pack.log

####################
#       Node       #
####################

node_modules/

yarn-debug.log*
yarn-error.log*
